@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #718096;
}

.dark ::-webkit-scrollbar-track {
    background: #0B0E14;
}

.dark ::-webkit-scrollbar-thumb {
    background: #2d3748;
}